*{
    margin: 0px;
    padding: 0px;
}

.container{
    background-color:maroon;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather_container{
    color: white;
}
.temp{
    font-size: 5rem;
}
.time_location{
    font-size: 2rem;
}
.condition{
    margin:0.5rem;
    margin-left: 0.2rem;
}

nav{
    height: 100px;
    margin-left: 1rem;
}
.search_area{
    font-size: 1rem;
    padding: 5px;
    width: 90%;
    color: white;
    background-color: transparent;
    border:none;
    outline: none;
    border-bottom: 2px solid white;
}

nav form button {
    padding: 0.4rem 2rem;
    background-color: white;
    margin-top: 0.5rem;
    border:none;
    outline: none;
    border-radius: 1px;
    cursor: pointer;
}